<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.apps.flexbox">

    <uses-sdk tools:overrideLibrary="android.support.v14.preference" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>



    <application
        android:name="com.google.android.flexbox.GlobalVar"
        android:allowBackup="true"
        android:icon="@mipmap/icons8_hospital_bed_64"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.google.android.flexbox.ui.login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name="com.google.android.flexbox.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.google.android.flexbox.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.flexbox.SettingsActivity" />
        <activity android:name="com.google.android.flexbox.DetailProfileActivity" />
        <activity android:name="com.google.android.flexbox.WebViewActivity" />
        <activity android:name="com.google.android.flexbox.LockActivity" />
        <activity android:name="com.google.android.flexbox.LockActivityAll" />
        <activity android:name="com.google.android.flexbox.SampleActivity" />
    </application>


</manifest>